<template>

<div class="form">

<p class="western" align="left" style="margin-bottom: 0cm; line-height: 100%">
<font face="Arial, serif"><font size="4" style="font-size: 14pt"><b>Акт № {{product.number}} от {{product.date}}</b></font></font>
<p class="western" align="left" style="margin-bottom: 0cm; line-height: 100%">
<br/>

</p>
<table width="643" cellpadding="4" cellspacing="0">
	<col width="113"/>

	<col width="514"/>

	<tr>
		<td width="113" style="border: none; padding: 0cm"><p class="western">
			<font face="Arial, serif"><font size="2" style="font-size: 9pt">Исполнитель:</font></font></p>
		</td>
		<td width="514" valign="top" style="border: none; padding: 0cm"><p class="western">
			<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>{{contractor.fullname}}, ИНН
			{{contractor.inn}}, {{contractor.address}}, р/с
			{{contractor.account}}, в банке {{contractor.bank}}, БИК {{contractor.bik}}, к/с {{contractor.account_corr}}
		</b></font></font></p>
    </td>
	</tr>
	<tr>
		<td width="113" style="border: none; padding: 0cm"><p class="western">
			<font face="Arial, serif"><font size="2" style="font-size: 9pt">Заказчик:</font></font></p>
		</td>
		<td width="514" valign="top" style="border: none; padding: 0cm"><p class="western" style="margin-bottom: 0cm">
			<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>
			{{customer.fullname}}, ИНН {{customer.inn}}, КПП {{customer.kpp}},
			{{customer.address}}, р/с {{customer.account}}, в банке {{customer.bank}}, БИК {{customer.bik}}, к/с {{customer.account_corr}}
		</b></font></font></p>
		</td>
	</tr>
	<tr v-if="hasReason()">
		<td width="113" style="border: none; padding: 0cm"><p class="western">
			<font face="Arial, serif"><font size="2" style="font-size: 9pt">Основание:</font></font></p>
		</td>
		<td width="514" valign="top" style="border: none; padding: 0cm"><p class="western">
			<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>{{product.reason}}</b></font></font></p>
		</td>
	</tr>
</table>
<p class="western" align="left" style="margin-bottom: 0cm; line-height: 100%">
<br/>

</p>
<table width="643" cellpadding="4" cellspacing="0">
	<colgroup>
		<col width="37"/>
		<col width="299"/>
		<col width="71"/>
		<col width="41"/>
	</colgroup>
	<colgroup>
		<col width="71"/>
		<col width="75"/>
	</colgroup>
	<tr>
		<td width="37" class="tdheader" style="">№</td>
		<td width="299" class="tdheader">Наименование работ, услуг</td>
		<td width="71" class="tdheader">Кол-во</td>
		<td width="41" class="tdheader">Ед.</td>
		<td width="71" class="tdheader">Цена</td>
		<td width="75" class="tdheader">Сумма</td>
	</tr>
	<tr valign="top">
		<td class="tdvalue" style="text-align:center">1</td>
		<td class="tdvalue" style="text-align:left">{{product.description}}</td>
		<td class="tdvalue" style="text-align:center">{{product.quantity}}</td>
		<td class="tdvalue" style="text-align:center">шт.</td>
		<td class="tdvalue" style="text-align:right">{{product.price}}р.</td>
		<td class="tdvalue" style="text-align:right">{{summ}}р.</td>
	</tr>
	<tr>
		<td style="border: none; padding: 0cm"><p class="western"><br/></p></td>
		<td style="border: none; padding: 0cm"><p class="western"><br/></p></td>
		<td style="border: none; padding: 0cm"></td>
		<td colspan="2" style="border: none; text-align:right;">
			<font face="Arial, serif"><font size="2" style="font-size: 9pt"><br/><b>Итого:</b></font></font>
			<br/>
			<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>Без налога (НДС)</b></font></font>
		</td>
		<td width="75" style="border: none; text-align:right">
			<font face="Arial, serif"><font size="2" style="font-size: 9pt"><br/><b>{{summ}}р.</b></font></font>
		</td>
	</tr>
</table>

<p class="western" align="left" style="margin-bottom: 0cm; line-height: 100%">
<font face="Arial, serif"><font size="1" style="font-size: 8pt"><b>Всего
оказано услуг {{product.quantity}}, на сумму {{summ}} руб. ({{product.summString}})</b></font></font></p>
<p class="western" align="left" style="margin-bottom: 0cm; line-height: 100%">
<font face="Arial, serif"><font size="2" style="font-size: 9pt">
<b></b></font></font>

<p class="western" align="left" style="margin-bottom: 0cm; line-height: 100%">
<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>Вышеперечисленные
услуги выполнены полностью и в срок.
Заказчик претензий по объему, качеству
и срокам оказания услуг не имеет.</b></font></font></p>
<p class="western" align="left" style="margin-bottom: 0cm; line-height: 100%">
<br/>

</p>
<table width="643" cellpadding="4" cellspacing="1">
	<col width="279"/>

	<col width="58"/>

	<col width="278"/>

	<tbody>
		<tr valign="top">
			<td width="279" style="border-top: 1.75pt double #000000; border-bottom: none; border-left: none; border-right: none; padding-top: 0.1cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
				<br/>

				</p>
			</td>
			<td width="58" style="border-top: 1.75pt double #000000; border-bottom: none; border-left: none; border-right: none; padding-top: 0.1cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
				<br/>

				</p>
			</td>
			<td width="278" style="border-top: 1.75pt double #000000; border-bottom: none; border-left: none; border-right: none; padding-top: 0.1cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
				<br/>

				</p>
			</td>
		</tr>
		<tr valign="top">
			<td width="279" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0cm; padding-right: 0cm"><p class="western" style="margin-bottom: 0cm">
				<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>ИСПОЛНИТЕЛЬ</b></font></font></p>
				<p class="western"><font face="Arial, serif"><font size="1" style="font-size: 8pt"><span style="font-weight: normal">
					{{contractor.shortname}}</span></font></font></p>
			</td>
			<td width="58" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
				<br/>

				</p>
			</td>
			<td width="278" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0cm; padding-right: 0cm"><p class="western" style="margin-bottom: 0cm">
				<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>ЗАКАЗЧИК</b></font></font></p>
				<p class="western"><font face="Arial, serif"><font size="1" style="font-size: 8pt"><span style="font-weight: normal">
					{{customer.shortname}}</span></font></font></p>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr valign="top">
			<td width="279" style="border: none; padding: 0cm"><p class="western">
				<br/>

				</p>
			</td>
			<td width="58" style="border: none; padding: 0cm"><p class="western">
				<br/>

				</p>
			</td>
			<td width="278" style="border: none; padding: 0cm"><p class="western">
				<br/>

				</p>
			</td>
		</tr>
		<tr valign="top">
			<td width="279" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
				<br/>

				</p>
			</td>
			<td width="58" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
				<br/>

				</p>
			</td>
			<td width="278" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
				<br/>

				</p>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr valign="top">
			<td width="279" style="border: none; padding: 0cm; text-align:center;"><p class="western" style="text-align:center">
				<font face="Arial, serif"><font size="1" style="font-size: 8pt">
					{{contractor.signer}}</font></font></p>
			</td>
			<td width="58" style="border: none; padding: 0cm"><p class="western">
				<br/>

				</p>
			</td>
			<td width="278" style="border: none; padding: 0cm"><p class="western" style="text-align:center">
				<font face="Arial, serif"><font size="1" style="font-size: 8pt">
					{{customer.signer}}</font></font></p>
			</td>
		</tr>
	</tbody>
</table>
<p class="western" align="left" style="margin-bottom: 0cm; line-height: 100%">
<br/>

</p>
</div>
</template>

<script>
export default {
  computed:{
    contractor(){
      return this.$store.getters.getContractor
    },
    customer(){
      return this.$store.getters.getCustomer
    },
    product(){
      return this.$store.getters.getProduct
    },
		summ(){
      return this.$store.getters.getSumm
    }

  },
methods:{
	hasReason(){
		return this.product.reason!="";
	}
}
}
</script>

<style type="text/css">
		@page { size: 21cm 29.7cm; margin: 2cm }
		p { margin-bottom: 0.25cm; direction: ltr; color: #000000; line-height: 115%; text-align: left; orphans: 2; widows: 2; background: transparent }
		p.western { font-family: "Liberation Serif", serif; font-size: 12pt; so-language: ru-RU }
		p.cjk { font-family: "Droid Sans Fallback"; font-size: 12pt; so-language: zh-CN }
		p.ctl { font-family: "FreeSans"; font-size: 12pt; so-language: hi-IN }
		td p { margin-bottom: 0cm; direction: ltr; color: #000000; text-align: left; orphans: 2; widows: 2; background: transparent }
		td p.western { font-family: "Liberation Serif", serif; font-size: 12pt; so-language: ru-RU }
		td p.cjk { font-family: "Droid Sans Fallback"; font-size: 12pt; so-language: zh-CN }
		td p.ctl { font-family: "FreeSans"; font-size: 12pt; so-language: hi-IN }

.tdvalue{
	border: 1px solid #000000;

	font-size: 8pt;
	vertical-align:middle;
	text-align: left;
}

.tdheader{
	border: 1px solid #000000;

	font-size: 9pt;
	font-family: Arial, serif;
	font-weight:bold;
}

table {border-collapse: collapse}

</style>
