<template>
  <div class="form">
    <v-form>
      <v-text-field
        label="Загрузить данные из шаблона"
        v-on:keyup.enter="loadPresetContractor(presetContractor)"
        v-model="presetContractor"
      />

      <v-text-field label="Полное наименование" v-model="contractor.fullname" />
      <v-text-field
        label="Краткое наименование"
        v-model="contractor.shortname"
      />
      <v-text-field label="Подписывающий" v-model="contractor.signer" />
      <v-text-field label="ИНН" v-model="contractor.inn" />
      <v-text-field label="КПП" v-model="contractor.kpp" />
      <v-text-field label="Адрес" v-model="contractor.address" />
      <v-text-field label="БИК" v-model="contractor.bik" />
      <v-text-field label="Название банка" v-model="contractor.bank" />
      <v-text-field
        label="Корр. счет банка"
        v-model="contractor.account_corr"
      />
      <v-text-field label="Банковский счет №" v-model="contractor.account" />
    </v-form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: function() {
    return {
      presetContractor: "",
      contractor:
        this.$store.getters.getContractor != null
          ? this.$store.getters.getContractor
          : {
              fullname: "",
              shortname: "",
              signer: "",
              inn: "",
              kpp: "",
              address: "",
              bank: "",
              bik: "",
              account_corr: "",
              account: ""
            }
    };
  },
  computed: {},
  methods: {
    loadPresetContractor: function(name) {
      axios.get(name + ".json").then(response => {
        this.$store.dispatch("setContractor", response.data);
        this.contractor = response.data;
      });
    },
    beforeRouteLeave(to, from, next) {
      this.$store.dispatch("setContractor", this.contractor);
      next();
    }
  }
};
</script>

<style scoped>
table {
  width: 100%;
}

td {
  border-bottom: 1px dashed #000000;
  text-align: left;
  padding: 10px;
}

td input {
  width: 100%;
}

td button {
  margin-left: 10px;
  margin-right: 10px;
}

.tdcaption {
  width: 15%;
}
.tdinput {
  width: 80%;
}
</style>
