<template>
  <div class="form">
    <v-form>
      <v-text-field
        label="Загрузить данные из шаблона"
        v-on:keyup.enter="loadPresetCustomer(presetCustomer)"
        v-model="presetCustomer"
      />
      <v-text-field
        label="Полное наименование"
        v-model="customer.fullname"
      ></v-text-field>
      <v-text-field
        label="Краткое наименование"
        v-model="customer.shortname"
      ></v-text-field>
      <v-text-field
        label="Подписывающий"
        v-model="customer.signer"
      ></v-text-field>
      <v-text-field label="ИНН" v-model="customer.inn"></v-text-field>
      <v-text-field label="КПП" v-model="customer.kpp"></v-text-field>
      <v-text-field label="Адрес" v-model="customer.address"></v-text-field>
      <v-text-field label="БИК" v-model="customer.bik"></v-text-field>
      <v-text-field
        label="Название банка"
        v-model="customer.bank"
      ></v-text-field>
      <v-text-field
        label="Корр. счет банка"
        v-model="customer.account_corr"
      ></v-text-field>
      <v-text-field
        label="Банковский счет №"
        v-model="customer.account"
      ></v-text-field>
    </v-form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: function() {
    return {
      presetCustomer: "",
      customer:
        this.$store.getters.getCustomer != null
          ? this.$store.getters.getCustomer
          : {
              fullname: "",
              shortname: "",
              signer: "",
              inn: "",
              kpp: "",
              address: "",
              bank: "",
              bik: "",
              account_corr: "",
              account: ""
            }
    };
  },
  computed: {},
  methods: {
    loadPresetCustomer: function(name) {
      axios.get(name + ".json").then(response => {
        this.$store.dispatch("setCustomer", response.data);
        this.customer = response.data;
      });
    },
    beforeRouteLeave(to, from, next) {
      this.$store.dispatch("setCustomer", this.customer);
      next();
    }
  }
};
</script>

<style scoped>
table {
  width: 100%;
}

td {
  border-bottom: 1px dashed #000000;
  text-align: left;
  padding: 10px;
}

td input {
  width: 100%;
}

td button {
  margin-left: 10px;
  margin-right: 10px;
}

.tdcaption {
  width: 15%;
}
.tdinput {
  width: 80%;
}
</style>
