<template>
<div class="form">
<p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
<font size="2" style="font-size: 10pt"><span lang="ru-RU"><span style="font-weight: normal">Внимание
! Оплата данного счета означает согласие
с условиями поставки товара. Уведомление оплате обязательно, в противном случае
не гарантируется наличие товара на
складе. Товар отпускается по факту
прихода денег на р/с Поставщика,
самовывозом, при наличии доверенности
и паспорта.</span></span></font></p>
<p class="western" align="center" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
<br/>

</p>
<table width="674" cellpadding="4" cellspacing="0">
	<col width="206"/>

	<col width="189"/>

	<col width="85"/>

	<col width="159"/>

	<tbody>
		<tr valign="top">
			<td rowspan="2" colspan="2" width="403" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0cm; padding-left: 0.1cm; padding-right: 0cm"><p class="western">
				{{contractor.bank}}</p>
			</td>
			<td width="85" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm"><p class="western">
				БИК</p>
			</td>
			<td width="159" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0.1cm; padding-bottom: 0cm; padding-left: 0.1cm; padding-right: 0.1cm"><p class="western">
				<font size="2" style="font-size: 10pt">{{contractor.bik}}</font></p>
			</td>
		</tr>
		<tr valign="top">
			<td rowspan="2" width="85" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm"><p class="western">
				Сч. №</p>
			</td>
			<td rowspan="2" width="159" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm"><p class="western">
				<font color="#000000"><font size="2" style="font-size: 10pt"><span lang="en-US">{{contractor.account_corr}}</span></font></font></p>
			</td>
		</tr>
		<tr valign="top">
			<td colspan="2" width="403" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm"><p class="western">
				<font size="1" style="font-size: 8pt">Банк получателя</font></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="206" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm"><p class="western">
				ИНН {{contractor.inn}}
				</p>
			</td>
			<td width="189" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm"><p class="western">
				КПП
				</p>
			</td>
			<td rowspan="3" width="85" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm"><p class="western">
				Сч. №</p>
			</td>
			<td rowspan="3" width="159" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm"><p class="western">
				<font size="2" style="font-size: 10pt">{{contractor.account}}</font></p>
			</td>
		</tr>
		<tr valign="top">
			<td colspan="2" width="403" height="53" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.1cm; padding-right: 0cm"><p class="western">
				{{contractor.fullname}}</p>
			</td>
		</tr>
		<tr valign="top">
			<td colspan="2" width="403" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm"><p class="western">
				<font size="1" style="font-size: 8pt">Получатель</font></p>
			</td>
		</tr>
	</tbody>
</table>
<p class="western" align="center" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
<br/>

</p>
<table width="674" cellpadding="4" cellspacing="0">
	<col width="666"/>

	<tr>
		<td width="666" valign="top" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0cm; padding-right: 0cm"><p class="western" align="center" style="margin-top: 0.2cm; margin-bottom: 0.2cm">
			<font size="4" style="font-size: 14pt"><b>Счет № {{product.number}} от {{product.date}}</b></font>
			<p class="western" align="center" style="margin-top: 0.2cm"><br/>

			</p>
		</td>
	</tr>
</table>
<p class="western" align="center" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
<br/>

</p>
<table width="674" cellpadding="4" cellspacing="0">
	<col width="120"/>

	<col width="537"/>

	<tr>
		<td width="120" style="border: none; padding: 0cm"><p class="western">
			Поставщик (Исполнитель):</p>
		</td>
		<td width="537" valign="top" style="border: none; padding: 0cm"><p class="western">
			<b>ИНН {{contractor.inn}}, {{contractor.fullname}}, {{contractor.address}}</b></p>
		</td>
	</tr>
	<tr>
		<td width="120" style="border: none; padding: 0cm"><p class="western">
			Покупатель (Заказчик):</p>
		</td>
		<td width="537" valign="top" style="border: none; padding: 0cm"><p class="western">
			<b>ИНН {{customer.inn}}, {{customer.fullname}}, {{customer.address}}</b></p>
		</td>
	</tr>
	<tr v-if="hasReason()">
		<td width="120" style="border: none; padding: 0cm"><p class="western">
			Основание:</p>
		</td>
		<td width="537" valign="top" style="border: none; padding: 0cm"><p class="western">
			<b>{{product.reason}}</b></p>
		</td>
	</tr>

</table>

<p lang="ru-RU" class="western" style="margin-bottom: 0cm; line-height: 100%"/>

<table width="674" cellpadding="4" cellspacing="0">
	<col width="26"/>

	<col width="317"/>

	<col width="67"/>

	<col width="56"/>

	<col width="80"/>

	<col width="80"/>

	<tr>
		<td width="26" class="tdheader">№</td>
		<td width="317" class="tdheader">Наименование работ, услуг</td>
		<td width="67" class="tdheader">Кол-вo</td>
		<td width="56" class="tdheader">Ед</td>
		<td width="80" class="tdheader">Цена</td>
		<td width="80" class="tdheader">Сумма</td>
	</tr>
	<tr>
		<td class="tdvalue" style="text-align:center">1</td>
		<td class="tdvalue" style="text-align:left">{{product.description}}</td>
		<td class="tdvalue" style="text-align:center">{{product.quantity}}</td>
		<td class="tdvalue" style="text-align:center">шт.</td>
		<td class="tdvalue" style="text-align:right">{{product.price}}р.</td>
		<td class="tdvalue" style="text-align:right">{{summ}}р.</td>
	</tr>
	<tr valign="top">
		<td width="26" style="border: none; padding: 0cm"><p class="western">
			<br/>

			</p>
		</td>
		<td width="317" style="border: none; padding: 0cm"><p class="western">
			<br/>

			</p>
		</td>
		<td width="67" style="border: none; padding: 0cm"><p class="western">
			<br/>

			</p>
		</td>

		<td colspan="2" width="80" style="border: none; padding: 0cm;"><p class="western" style="text-align:right">
			<b>Итого:<br/>Без налога (НДС)</b></p>
		</td>
		<td width="80" style="border: none; padding: 0cm"><p class="western" style="text-align:right">
			<b>{{summ}}р.</b></p>
		</td>
	</tr>
</table>
<p lang="ru-RU" class="western" style="margin-bottom: 0cm; line-height: 100%">
<br/>

</p>
<p class="western" style="margin-bottom: 0cm; line-height: 100%"><span lang="ru-RU">Всего
наименований {{product.quantity}}, на сумму {{summ}} руб.</span></p>
<p class="western" style="margin-bottom: 0cm; line-height: 100%"><span lang="ru-RU"><b>{{product.summString}}</b></span></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0cm; line-height: 100%">
<br/>

</p>
<table width="674" cellpadding="4" cellspacing="0">
	<col width="94"/>

	<col width="227"/>

	<col width="67"/>

	<col width="253"/>

	<tr valign="top">
		<td width="94" style="border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none; padding-top: 0.1cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
			<br/>

			</p>
		</td>
		<td width="227" style="border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none; padding-top: 0.1cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
			<br/>

			</p>
		</td>
		<td width="67" style="border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none; padding-top: 0.1cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
			<br/>

			</p>
		</td>
		<td width="253" style="border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none; padding-top: 0.1cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
			<br/>

			</p>
		</td>
	</tr>
	<tr>
		<td width="94" height="12" valign="bottom" style="border: none; padding: 0cm"><p class="western">
			<span lang="ru-RU">Руководитель</span></p>
		</td>
		<td width="227" valign="top" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
			<br/>

			</p>
		</td>
		<td width="67" valign="top" style="border: none; padding: 0cm"><p class="western">
			<span lang="ru-RU">Бухгалтер</span></p>
		</td>
		<td width="253" valign="top" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0cm; padding-right: 0cm"><p class="western">
			<br/>

			</p>
		</td>
	</tr>
</table>
<p class="western" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>

</div>

</template>

<script>
export default {
  computed:{
    contractor(){
      return this.$store.getters.getContractor
    },
    customer(){
      return this.$store.getters.getCustomer
    },
    product(){
      return this.$store.getters.getProduct
    },
		summ(){
      return this.$store.getters.getSumm
    }

  },
	methods:{
		hasReason(){
			return this.product.reason!="";
		}
	}
}
</script>

	<style type="text/css">
		@page { size: 21cm 29.7cm; margin-left: 1.59cm; margin-right: 1.59cm; margin-top: 1.06cm; margin-bottom: 2.54cm }
		p { margin-bottom: 0.25cm; direction: ltr; color: #000000; line-height: 115%; text-align: left; orphans: 2; widows: 2; background: transparent }
		p.western { font-family: "Arial", serif; font-size: 10pt; so-language: en-US }
		p.cjk { font-family: "Arial"; font-size: 10pt; so-language: ru-RU }
		p.ctl { font-family: "Arial"; font-size: 10pt; so-language: ar-SA }
		td p { margin-bottom: 0.35cm; direction: ltr; color: #000000; line-height: 115%; text-align: left; orphans: 2; widows: 2; background: transparent }
		td p.western { font-family: "Arial", serif; font-size: 10pt; so-language: en-US }
		td p.cjk { font-family: "Arial"; font-size: 10pt; so-language: ru-RU }
		td p.ctl { font-family: "Arial"; font-size: 10pt; so-language: ar-SA }

.tdheader{
	border: 1px solid #000000;
	font-family: "Arial", serif;
	font-size: 10pt;
	font-weight:bold;
	color: black;
	vertical-align: middle;
	text-align: center;
}

.tdvalue{
	border: 1px solid #000000;
	font-family: "Arial", serif;
	font-size: 10pt;
	vertical-align: middle;
	text-align: center;
	color:black;
}

table {border-collapse: collapse}

	</style>
