<template>
  <div class="form">
    <v-form>
      <v-text-field
        label="Загрузить данные из шаблона"
        v-on:keyup.enter="loadPresetProduct(presetProduct)"
        v-model="presetProduct"
      />
      <v-text-field
        label="Номер продажи"
        v-model="product.number"
      ></v-text-field>
      <v-text-field label="Дата продажи" v-model="product.date"></v-text-field>
      <v-text-field label="Основание" v-model="product.reason"></v-text-field>
      <v-text-field
        label="Описание"
        v-model="product.description"
      ></v-text-field>
      <v-text-field
        label="Количество"
        v-model.number="product.quantity"
      ></v-text-field>
      <v-text-field label="Цена" v-model.number="product.price"></v-text-field>
      <span>Итого: {{ product.price * product.quantity }}</span>
      <v-text-field
        label="Сумма прописью"
        v-model="product.summString"
      ></v-text-field>
    </v-form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: function() {
    return {
      presetProduct: "",
      product:
        this.$store.getters.getProduct != null
          ? this.$store.getters.getProduct
          : {
              fullname: "",
              shortname: "",
              signer: "",
              inn: "",
              kpp: "",
              address: "",
              bank: "",
              bik: "",
              account_corr: "",
              account: ""
            }
    };
  },
  computed: {
    summ() {
      return this.$store.getters.getSumm;
    }
  },
  methods: {
    loadPresetProduct: function(name) {
      axios.get(name + ".json").then(response => {
        this.$store.dispatch("setProduct", response.data);
        this.product = response.data;
      });
    },
    beforeRouteLeave(to, from, next) {
      this.$store.dispatch("setProduct", this.contractor);
      next();
    }
  }
};
</script>
<style scoped>
table {
  width: 100%;
}

td {
  border-bottom: 1px dashed #000000;
  text-align: left;
  padding: 10px;
}

td input {
  width: 100%;
}

td button {
  margin-left: 10px;
  margin-right: 10px;
}

.tdcaption {
  width: 15%;
}
.tdinput {
  width: 80%;
}
</style>
