<template>
  <div>
    <v-app-bar class="app noprint">
      <v-tabs>
        <v-tab to="/">Поставщик</v-tab>
        <v-tab to="/customer">Заказчик</v-tab>
        <v-tab to="/product">Товар\услуга</v-tab>
        <v-tab to="/act">Акт</v-tab>
        <v-tab to="/invoice">Счет</v-tab>
      </v-tabs>
    </v-app-bar>
    <router-view />
  </div>
</template>

<script>
//import HelloWorld from "./components/HelloWorld";

export default {
  name: "App",

  components: {
    //HelloWorld
  },

  data: () => ({
    //
  })
};
</script>

<style>
@media print {
  .noprint {
    display: none !important;
  }
}

.app {
  margin-bottom: 20px;
}

.form {
  margin: 10px;
}
</style>
